<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Carrie.habitter">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:showOnLockScreen="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".SevenDays.SevenDaysActivity"></activity>
        <activity android:name=".Wallpaper.WallpaperActivity" />
        <activity android:name=".Analysis_character_Result.Analysis_character_result_Activity" />
        <activity android:name=".Analysis_character.Analysis_character_Activity" />
        <activity android:name=".Analysis_habit.Analysis_habit_Activity" />
        <activity android:name=".Analysis.AnalysisActivity" />
        <activity android:name=".HabitLog.HabitLogActivity" />
        <activity android:name=".HowtoUse.HowtoUseActivity" />
        <activity android:name=".Register.RegisterActivity" />
        <activity android:name=".Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HabitLog_setting_fragment.Setting_Fragment" />
    </application>

</manifest>